#https://perishablepress.com/stupid-htaccess-tricks/#ess3
# Remove the question mark "?" from the request but maintain the query string
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1 [L,QSA]